parameters:
	level: 9
	paths:
		- src
		- web/modules/custom
		- web/themes/custom
	stubFiles:
		- stubs/EntityType.stub
	excludePaths:
		- web/modules/custom/whiskeydex/src/Form/MailerTestForm.php
		# TODO
		- web/modules/custom/whiskeydex/src/Plugin/Mail/SymfonyMailer.php
		- web/modules/custom/whiskeydex/src/StreamWrapper/ObjectStorageStreamWrapper.php
	drupal:
		entityMapping:
			whiskey:
				class: Drupal\whiskeydex\Entity\Whiskey
			distillery:
				class: Drupal\whiskeydex\Entity\Distillery
			collection_item:
				class: Drupal\whiskeydex\Entity\CollectionItem
includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
