parameters:
	level: 9
	paths:
		- src
		- web/modules/custom
		- web/themes/custom
	stubFiles:
		- stubs/EntityType.stub
	excludePaths:
		- web/modules/custom/whiskeydex/src/Form/MailerTestForm.php
		# TODO
		- web/modules/custom/whiskeydex/src/Plugin/Mail/SymfonyMailer.php
		- web/modules/custom/whiskeydex/src/StreamWrapper/ObjectStorageStreamWrapper.php
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
