<ul{{ attributes.addClass('flex space-x-4 text-sm') }}>
  {% for item in items %}
    {%
      set classes = [
      'menu-item',
      item.in_active_trail ? 'menu-item--active-trail',
      'text-stone-800',
      'hover:text-stone-500'
    ]
    %}
    <li{{ item.attributes.addClass(classes) }}>
      {{ link(item.title, item.url) }}
    </li>
  {% endfor %}
</ul>
