{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{# https://tailwindui.com/components/application-ui/navigation/tabs #}
{% block content %}
  {% if content %}
    <div class="border-b border-gray-200">
      {{ content }}
    </div>
  {% endif %}
{% endblock %}
