{#
/**
 * @file
 * Theme override for a dropbutton wrapper.
 *
 * Available variables:
 * - children: Contains the child elements of the dropbutton menu.
 *
 * @see template_preprocess()
 */
#}
{% if children %}
  {% apply spaceless %}
    <div class="dropbutton-wrapper relative block w-full sm:w-auto">
      <div class="dropbutton-widget rounded-md text-sm">
        {{ children }}
      </div>
    </div>
  {% endapply %}
{% endif %}
