{% extends '@distilled/layout/page-guest-split.html.twig' %}

{% block above_content %}
  <h2 class="mt-6 text-2xl font-bold leading-9 tracking-tight text-gray-900">Forgot your password?</h2>
{% endblock %}
